@import '../../../../scss/mixins.scss';

.container {
  @include webkitFlex(row, center, end);
  @include flex(row, center, flex-end);
}

.settings {
  display: inline-flex;
  margin-right: 0.5em;
}

.wide_screen {
  margin-right: 0.5em;
}
