.link {
  height: 1.5em;
  margin-right: 1em;

  & > svg {
    height: 100%;
    color: white;

    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  &:hover > svg {
    color: #00d1ff;
  }
}
