@import '../../scss/mixins.scss';

.bar_container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  cursor: none;
  color: white;

  &.show {
    cursor: pointer;

    & > .bar {
      opacity: 1;
    }
  }
}

.top_bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  cursor: default;

  background-color: rgba(0, 0, 0, 0.6);

  padding: 0.5em;
}

.skip_button {
  position: absolute;
  bottom: 6.5em;
  right: 0;
}

.bar {
  @include webkitFlex(column, stretch, start);
  @include flex(column, stretch, flex-start);

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  cursor: default;

  background-color: rgba(0, 0, 0, 0.6);

  opacity: 0;

  transition: all 0.2s ease;
}
