@import '../scss/mixins.scss';

.container {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: black;

  @include webkitFlex(row, stretch, center);
  @include flex(row, stretch, center);
}

.player_container {
  width: 100%;
}

.loader_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
