@import '../../../scss/mixins.scss';

.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
  pointer-events: none;

  overflow: hidden;
}

.indicator {
  @include webkitFlex(row, center, center);
  @include flex(row, center, center);

  background: rgba(#fff, 0.3);
  position: absolute;
  top: -20%;
  bottom: -20%;

  opacity: 0;

  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;

  width: 40%;

  &.left {
    left: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  &.right {
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  &.visible {
    opacity: 1;
  }
}

.icon {
  height: 2em;
  width: 2em;
  color: currentColor;
}
