@import '../../../../scss/mixins.scss';

.container {
  @include webkitFlex(row, center, start);
  @include flex(row, center, flex-start);

  flex-grow: 1;
}

.timings {
  color: white;
  font-size: 0.8em;
}
