$central-block-width-1: 1400px;
$central-block-width-2: 1200px;
$central-block-width-3: 1000px;
$central-block-width-4: 720px;
$form-width: 600px;

$media-min-width-1: 769px;
$media-min-width-2: 1040px;
$media-min-width-3: 1240px;
$media-min-width-4: 1440px;
